# Ignorar o banco de dados SQLite
db.sqlite3

# Ignorar diretórios e arquivos gerados por Python
__pycache__/
*.pyc

# Ignorar diretório de ambiente virtual
venv/

# Ignorar qualquer pasta ou arquivo chamada db.sqlite3 em subdiretórios

.env
.env.example

# Ignorar arquivos compilados do Python
__pycache__/
*.py[cod]
