{% extends 'base.html' %}
{% load static %}

{% block title %}Denúncia de Maus-Tratos a Animais{% endblock %}

{% block content %}
<header class="bg-light py-5 position-relative">
    <div class="container text-center">
        <a href="{% url 'adm:login' %}?next={% url 'lista_denuncias' %}"
           class="btn btn-success rounded-pill mt-3 position-absolute top-0 end-0 m-3">Administração</a>
        <br>
        <h1>Denúncia de Maus-Tratos a Animais</h1>
        <p>Preserve a vida e o bem-estar dos animais. Sua denúncia pode salvar uma vida!</p>
    </div>
</header>

<main class="container my-5">
    {% if messages %}
    <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-success{% endif %} alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <form action="{% url 'denuncia_create' %}" method="POST" enctype="multipart/form-data" class="denuncia-form">

        {% csrf_token %}

        <section>
            <h2>1. Informações do Animal</h2>
            <div class="form-group">
                <label for="{{ form.especie.id_for_label }}" class="required">
                    {{ form.especie.label }}
                </label>
                {{ form.especie }}
                {% if form.especie.errors %}
                <div class="field-error">{{ form.especie.errors }}</div>
                {% endif %}
            </div>

              <div class="form-group">
                {{ form.nome.label_tag }}
                {{ form.nome }}
                {% if form.nome.errors %}
                <div class="field-error">{{ form.nome.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.descricao_animal.label_tag }}
                {{ form.descricao_animal }}
                {% if form.nome.errors %}
                <div class="field-error">{{ form.nome.errors }}</div>
                {% endif %}
            </div>


        </section>

        <section>
            <h2>2. Detalhes do Caso</h2>
            <div class="form-group">
                <label>Tipo de Maus-Tratos:</label>
                {{ form.tipo_maustratos }}
                {% if form.tipo_maustratos.errors %}
                <div class="field-error">{{ form.tipo_maustratos.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.descricao_caso.label_tag }}
                {{ form.descricao_caso }}
                {% if form.descricao_caso.errors %}
                <div class="field-error">{{ form.descricao_caso.errors }}</div>
                {% endif %}
            </div>
        </section>

        <section>
            <h2>3. Informações sobre o Responsável (se conhecido)</h2>
            <div class="form-group">
                {{ form.responsavel.label_tag }}
                {{ form.responsavel }}
                {% if form.responsavel.errors %}
                <div class="field-error">{{ form.responsavel.errors }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.local.label_tag }}
                <p>Sem o endereço da ocorrência não será possível averiguar a denúncia.</p>

                {{ form.local }}
                {% if form.local.errors %}
                <div class="field-error">{{ form.local.errors }}</div>
                {% endif %}
            </div>
        </section>

        <section>
            <h2>4. Comprovação do Caso</h2>
            <div class="form-group">
                {{ form.imagens.label_tag }}
                {{ form.imagens }}
                {% if form.imagens.errors %}
                <div class="field-error">{{ form.imagens.errors }}</div>
                {% endif %}
            </div>
        </section>

        <section>
            <h2>5. Dados do Denunciante</h2>
            <p>(Ao clicar no botão, sua denúncia será feita de forma anônima)</p>
            <button type="button" id="toggle-anonimo" class="btn btn-warning rounded-pill mb-3">Quero me identificar
            </button>


            <div id="denunciante-info" class="hidden">
                <div class="form-group">
                    {{ form.nome_denunciante.label_tag }}

                    {{ form.nome_denunciante }}
                    <small>{{ form.nome_denunciante.help_text }}</small>
                    {% if form.nome_denunciante.errors %}
                    <div class="field-error">{{ form.nome_denunciante.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {% if form.email.errors %}
                    <div class="field-error">{{ form.email.errors }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.telefone.label_tag }}
                    {{ form.telefone }}
                    {% if form.telefone.errors %}
                    <div class="field-error">{{ form.telefone.errors }}</div>
                    {% endif %}
                </div>
            </div>
        </section>

        <button type="submit" class="btn btn-success rounded-pill">Enviar Denúncia</button>
        <br>
        <p class="text-danger fw-bold mt-4">ATENÇÃO - FALSA COMUNICAÇÃO É CRIME</p>
        <p>
            A falsa comunicação de um crime também é crime e tem pena prevista no Artigo 340 do Código Penal Brasileiro.
            Todas as informações descritas aqui devem ser verdadeiras, esteja ciente!
        </p>
    </form>

    {% for tratativa in tratativas %}
        <div>
            <strong>{{ tratativa.atendente }}</strong> - {{ tratativa.data_tratativa|date:"d/m/Y H:i" }}<br>
            {{ tratativa.descricao }}
        </div>
    {% empty %}
        <p>Nenhuma tratativa registrada.</p>
    {% endfor %}
</main>

{% endblock %}



