{% extends 'base.html' %}
{% load static %}

    {% block title %}Lista de Denúncias{% endblock %}

{% block content %}
<main class="container my-5">
    <div class="row">
        {% for denuncia in denuncias %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 position-relative card-hover" style="border-radius: 15px !important; overflow: hidden;">
                <!-- Link invisível ocupando toda a área do card -->
                <a href="{% url 'denuncia-detalhe' denuncia.id %}" class="stretched-link"></a>

                <img src="{% if denuncia.imagens %}{{ denuncia.imagens.url }}{% else %}{% static 'images/imagem-padrao.jpg' %}{% endif %}"
                     alt="Imagem da denúncia" class="card-img-top" style="max-height: 200px; object-fit: cover;
                     border-top-left-radius: 15px !important; border-top-right-radius: 15px !important;">

                <div class="card-body">
                    <h5 class="card-title text-dark">{{ denuncia.especie }}</h5>
                    <h6 class="card-subtitle text-muted mb-3">Denunciado em {{ denuncia.data_denuncia|date:"d/m/Y H:i" }}</h6>
                    <p class="card-text text-dark"><strong>Local:</strong> {{ denuncia.local }}</p>
                    <p class="card-text text-dark"><strong>Descrição:</strong> {{ denuncia.descricao_caso|slice:":10" }}...</p>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="col-12">Nenhuma denúncia encontrada.</p>
        {% endfor %}
    </div>
</main>
{% endblock %}
